$mustard: #BFAB25;
$green: #8DAA91;
$pink: #885053;
$brown:#EFECCA;
$navy:#2A3D45;

.footer{
    text-align: center;
    background-color: $pink;
    height: auto;
}

.social-media{
    align-self: center;

   .social-media-link{
       margin:5px;

       i{
        padding:9px 10px 10px 10px;
        background-color:$pink;
        text-decoration:none;
        width:auto;
        height: auto;
        margin: auto 0;
        color:$navy;
        margin-bottom:4px;
        border-radius: 20%;
       }
       i:hover{
           background-color:$mustard;
           transform: scale(1.1);
           transition:.15s;
       }
   }
}