//global styles
$mustard: #BFAB25;
$green: #A4B494;
$pink: #F9DEC9;
$brown:#54494B;
$navy:#3A405A;

@import url("https://fonts.googleapis.com/css?family=Imprima|Londrina+Solid");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

html{
  font-family: 'Londrina Solid', cursive;
}
body{
  background-color: $green;
  color: $navy;
  font-family: 'Imprima', sans-serif;
  margin: 0;
  padding: 0;
}

//landing page
.background{
  background-color:$mustard;
  height:460px;
  margin-top:-60px;
  .title{
    text-align:center;
    font-size: 8em;
    padding-top: 300px;
    margin-bottom: 2rem;
    font-family: 'Londrina Solid', cursive;
  }
  h2{
  text-align: center;
  // color:$tan;
  font-family: 'Imprima', sans-serif;
  font-size:2em;
  
  }
}
.background2{
background-color:none;
height:150px;
}

//about me
.imgcontainer{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: auto;

.green{
  background-color: $green;
  height:400px;
  width: 600px;
  margin-left: 100px;
  margin-top: 400px;
  border-radius: 1px;
  box-shadow: 5px 10px 20px $green;
}
 img{
   width: 400px;
   height: auto;
   margin-top: -600px;
   margin-left: 200px;
   margin-bottom: 100px;
}
p{
  align-self: flex-end;
  height: auto;
  margin: 3em;
  width: 400px;
  // color: $tan;
  margin-top: -400px;
  margin-right:200px;
  font-size: 25px;
}
}

@media only screen and (max-width: 800px) {
  .title{
    padding-top: 10px;
    margin-bottom: 5rem;
  }
.imgcontainer{
  display: flex column;
  flex-wrap: wrap;
  align-content: center;
  margin: 3px;
  .green{
    display:none;
  } 
  img{
    width: 70%;
    height: auto;
    margin: 0 auto;
    // margin-top: -600px;
    // margin-bottom: 100px;
  
 }
 p{
   margin: 2px;
   font-size: 20px;
 }
}
}
.bio{
  margin: 5px;
  margin-top: 70px;
  font-size: 20px;
}

body.frontpage{
  background: $green;
}